# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# RVM
.rvmrc
.ruby-gemset

# NVM
.node-version
node_modules_bak

# NPM
npm-debug.log

# POW
.powrc
.powenv

# GIT
.git-wtfrc

# VIM
.swp
*.swp
.smartgf_tags
.smartgf_tags_date
.vimrc
.nvimrc

# RAILS
.env
.env.local
config/mongoid.yml
config/database.yml
quickfix.out
spec/vim_formatter.rb

# JS
.tern-project
.tern-port
.nvmrc

# git_stats
git_stats/

# Ag
.agignore

# Yarn
yarn-error.log

# Custom scripts
relativize_imports_in_module
