# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# RVM
.rvmrc
.ruby-gemset

# NVM
.node-version

# NPM
npm-debug.log

# POW
.powrc
.powenv

# GIT
.git-wtfrc

# VIM
.swp
*.swp
tags
.smartgf_tags
.smartgf_tags_date
.nvimrc

# RAILS
.env
config/mongoid.yml
config/database.yml
quickfix.out
spec/vim_formatter.rb

# JS
.tern-project
.tern-port

# git_stats
git_stats/

# Ag
.agignore
