function e() {
  if [ "$1" = "" ]
  then
    exec $EDITOR .
  else
    exec $EDITOR "$1"
  fi
}

function log(){
  tail -f -n 100 log/development.log
}

function running(){
  ps ax | grep $1
}

function gpr() {
  git push && hub pull-request -b blueberryapps:$1 -h blueberryapps:$(git symbolic-ref --short HEAD)
}

function deploy() {
  git push
  if [[ "$1" == "" ]]
  then
    print 'Deploying staging...'
    cap -s branch=$(git symbolic-ref --short HEAD) staging deploy
    cap -s branch=$(git symbolic-ref --short HEAD) staging deploy:migrate
  else
    print "Deploying $1..."
    cap -s branch=$(git symbolic-ref --short HEAD) $1 deploy
    cap -s branch=$(git symbolic-ref --short HEAD) $1 deploy:migrate
  fi
}