[user]
  name = Michal Krejčí
  email = mikekreeki@gmail.com

[color]
  ui=auto

[push]
  default=current

[alias]
  s=status
  ss= status -s

  br=branch
  cl=clone
  co=checkout
  track="!f() { branch=$(git rev-parse --abbrev-ref HEAD) && git branch $branch --set-upstream-to origin/$branch;}; f"

  di=diff
  dc=diff --cached

  ap=add -p
  unstage = reset HEAD --
  restore = checkout --

  ci=commit
  save = !git add -A && git commit -m 'WIP'
  amend=commit --amend --reuse-message HEAD

  ff=merge --ff-only
  noff=merge --no-ff

  r = reset
  r1 = reset HEAD^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  ; undo=reset --hard

  ; http://haacked.com/archive/2014/07/28/github-flow-aliases/
  undo = reset HEAD~1 --mixed
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

  ls= log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ld= log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  blame = brame -w

  churn= "!f() { git log --all -M -C --name-only --format='format:' \"$@\" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print \"count\tfile\"} {print $1 \"\t\" $2}' | sort -g; }; f"

  pr = "!open \"$(git remote -v | grep origin | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|https://github.com/\\(.*\\)/\\(.*\\).git|https://github.com/\\1/\\2|\")/pull/new/$(git rev-parse --abbrev-ref HEAD)\""
  gh = "!open \"$(git remote -v | grep origin | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|https://github.com/\\(.*\\)/\\(.*\\).git|https://github.com/\\1/\\2|\")/tree/$(git rev-parse --abbrev-ref HEAD)\""

  aliases =  config --get-regexp '(alias.*)'

[core]
	excludesfile = /Users/mikekreeki/.gitignore
  editor = "mvim -f"

; [merge]
;   conflictstyle = diff3

[branch]
  autosetuprebase = always
  autosetupmerge = true

[heroku]
  remote = staging

[help]
  autocorrect = 1

[credential]
	helper = osxkeychain

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[diff]
  renames = copies
  mnemonicprefix = true

[rerere]
  enabled = true

[merge]
  stat = true
[git-up "bundler"]
	autoinstall = true
