# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# BUNDLER
vendor/bundle/

# RVM
.rvmrc
.ruby-gemset

# POW
.powrc
.powenv

# GIT
.git-wtfrc

# VIM
.swp
*.swp
tags
.smartgf_tags
.smartgf_tags_date

# RAILS
.env
config/mongoid.yml
config/database.yml

# JS
.tern-project
